.navbar.navbar-default.navbar-static-top{
	background: #55688a;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
	color: #ffffff;
}
.pestana{
	display: none;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    margin-top: 0;
    right: 0;
    left: auto;
}
